#products-list img {
	padding-top: 10px;
}

#products-list #product-name {
	white-space: normal;
}

#products-list #product-rrp-price {
	text-decoration: line-through;
	font-weight: bold;
}
#products-list #product-our-price {
	color: green;
	font-weight: bold;
}
#products-list #product-discount {
	color: red;
	font-weight: bold;
}