body, html, li, ul {
	padding: 0;
	margin: 0;
}
body {
	font-size: 1.2em;
}
.list {
	margin: 0;
	padding: 0;
}
.list li {
	display: block;
	border-bottom: 1px solid #aaa;
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.list li img {
	height: 50px;
	width: 50px;
	padding: 2px 0px 2px 2px;
	vertical-align: middle;
	float: left;
}
.list div {
	padding: 0px 0px 0px 7px;
	display: block;
	margin-left: 50px;
	white-space: pre-wrap;
}
.list #product-rrp-price {
	text-decoration: line-through;
	font-weight: bold;
}
.list #product-our-price {
	color: green;
	font-weight: bold;
}
.list #product-discount {
	color: red;
	font-weight: bold;
}