<!DOCTYPE html>
<html>
  <head>
    <title>OZ Yeego</title>
    <link rel="stylesheet" href="css/ozyeego.css" />
    <script src="js/vendor/jquery-1.7.1.min.js"></script>
    <script src="js/vendor/parse-1.2.7.min.js"></script>
    <script src="js/vendor/underscore-min.js"></script>
    <script src="js/vendor/backbone-min.js"></script>
    <script type="text/javascript" src="js/ozyeego.js"></script>
  </head>
<body>

<div>
  <ul id="products-list" class="list">
  </ul>
</div>

<script type="text/template" id="productTemplate">
  <img src="<%= image_url %>" />
  <div>
    <span id="products-name"><%= name %></span>
  </div>
  <div>
    RRP Price: $<span id="product-rrp-price"><%= rrp_price %></span>
  </div>
  <div>
    Our Price: $<span id="product-our-price"><%= our_price %></span>
  </div>
  <div>
    Discount: $<span id="product-discount"><%= discount %></span>
  </div>
</script>

</body>
</html>
